{% extends 'base.html' %}
{% load static %}


{% block content %}
        <!-- Page Header-->
        <header class="masthead font-monospace fw-bold" id="about_bgimage">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4 font-monospace fw-bold">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7 " id="aboutmessage">
                        <p class="first">Chez CYBERCORPS.CM, nous comprenons l'importance cruciale de la sécurité informatique dans un monde de plus en plus connecté. 
                            C'est pourquoi nos experts en cyber sécurité mettent tout en œuvre pour vous offrir des solutions personnalisées et 
                            efficaces pour protéger votre entreprise des menaces numériques.
                        </p>
                        <p class="second">
                            En parallèle, notre équipe de formateurs qualifiés vous propose des formations pointues en programmation des logiciels.
                             Que vous soyez débutant ou déjà initié, nos cours adaptés à tous les niveaux vous permettront d'acquérir 
                            les compétences nécessaires pour maîtriser les langages de programmation les plus demandés sur le marché.
                        </p>
                        <p class="third">
                            Chez CYBERCORPS.CM, nous croyons en l'innovation, en la qualité et en la sécurité. Rejoignez-nous dès 
                            aujourd'hui pour bénéficier de notre expertise et propulser votre entreprise vers un avenir numérique sécurisé et performant.
                             Faites confiance à 
                            CYBERCORPS.CM pour protéger vos données et former vos équipes aux technologies de demain.
                        </p>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}